@font-face {
	font-family: '2MASS J1808 Normal';
	font-style: normal;
	font-weight: normal;
	src: local('2MASS J1808 Normal'), url('2MASS J1808-Normal (personal use).woff') format('woff');
}


@font-face {
	font-family: '2MASS J1808 Heavy';
	font-style: normal;
	font-weight: normal;
	src: local('2MASS J1808 Heavy'), url('2MASS J1808-Heavy (personal use).woff') format('woff');
}